<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
        <title>Campaign Page</title>
    </head>
    <body>
        <header>
           <div class="header-container">
               <div class="logo"><a href="#"><img src="../../public/images/logo-qol.png" alt="logo"></a></div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <button class="camp-button">Start Campaign</button>
           </div>
        </header>
        <section class="row title-area row-one">
            <div class="row-content">
                <div class="col-sm-12">
                    <h1>Save white Rhinos</h1>
                    <ul>
                        <li>London, UK</li>
                        <li>Category</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="row-content">
                <div class="col-sm-8">
                    <div class="camapign-image">
                        <a href="#"><img src="../../public/images/rhino.jpg" alt="rhino"></a>
                    </div>
                    <div class="campaign-intro">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla. Quisque eros quam, vestibulum nec nisi vitae, facilisis elementum leo. Vestibulum vel volutpat ipsum. Nullam nisl mi, facilisis ac finibus eget, faucibus vitae mi.</p>
                    </div>
                    <div class="campaign-details">
                        <div class="text-block">
                            <h3>About this campaign</h3> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla. Quisque eros quam, vestibulum nec nisi vitae, facilisis elementum leo. Vestibulum vel volutpat ipsum. Nullam nisl mi, facilisis ac finibus eget, faucibus vitae mi. Sed molestie scelerisque rutrum. Ut malesuada, nulla ut iaculis finibus, ipsum libero facilisis felis, quis auctor lectus diam in elit. Pellentesque gravida viverra posuere. Praesent in metus eros. Maecenas tincidunt sit amet sapien eget tincidunt. Proin dignissim sapien vel sapien lacinia cursus. Nulla eu sollicitudin elit.</p>
                            <p>Nulla facilisi. Nunc porttitor justo non vestibulum tristique. Vestibulum a suscipit elit, eu hendrerit odio. Duis lacinia purus mi, nec aliquam dolor malesuada sit amet. Nunc justo sapien, blandit vitae elit a, pulvinar porttitor nulla. Mauris cursus felis faucibus, rhoncus ipsum at, aliquet eros. Donec vitae libero enim. Morbi gravida ligula dui, molestie mollis tortor congue dapibus. Duis in sagittis ante. Aliquam quis felis metus. Curabitur gravida rhoncus tellus, vel blandit mi eleifend eu. Donec mauris est, vestibulum quis pharetra a, ornare ut velit. Ut sollicitudin ornare odio sed pharetra. Donec bibendum laoreet metus, at fringilla lorem pulvinar eu. Morbi non rhoncus neque, in cursus quam. Suspendisse magna leo, tempor vel metus vel, placerat scelerisque ligula.</p>
                        </div>
                        <div class="image-block">
                            <img src="http://lorempixel.com/640/400/abstract/3/" alt="image-block" />
                        </div>
                        <div class="image-block">
                            <img src="http://lorempixel.com/640/400/abstract/5/" alt="image-block" />
                        </div>
                        <div class="text-block">
                            <h3>Other details about this campaign</h3> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla. Quisque eros quam, vestibulum nec nisi vitae, facilisis elementum leo. Vestibulum vel volutpat ipsum. Nullam nisl mi, facilisis ac finibus eget, faucibus vitae mi. Sed molestie scelerisque rutrum. Ut malesuada, nulla ut iaculis finibus, ipsum libero facilisis felis, quis auctor lectus diam in elit. Pellentesque gravida viverra posuere. Praesent in metus eros. Maecenas tincidunt sit amet sapien eget tincidunt. Proin dignissim sapien vel sapien lacinia cursus. Nulla eu sollicitudin elit.</p>
                            <p>Nulla facilisi. Nunc porttitor justo non vestibulum tristique. Vestibulum a suscipit elit, eu hendrerit odio. Duis lacinia purus mi, nec aliquam dolor malesuada sit amet. Nunc justo sapien, blandit vitae elit a, pulvinar porttitor nulla. Mauris cursus felis faucibus, rhoncus ipsum at, aliquet eros. Donec vitae libero enim. Morbi gravida ligula dui, molestie mollis tortor congue dapibus. Duis in sagittis ante. Aliquam quis felis metus. Curabitur gravida rhoncus tellus, vel blandit mi eleifend eu. Donec mauris est, vestibulum quis pharetra a, ornare ut velit. Ut sollicitudin ornare odio sed pharetra. Donec bibendum laoreet metus, at fringilla lorem pulvinar eu. Morbi non rhoncus neque, in cursus quam. Suspendisse magna leo, tempor vel metus vel, placerat scelerisque ligula.</p>
                        </div>
                        <div class="image-block">
                            <img src="http://lorempixel.com/640/400/abstract/6/" alt="image-block" />
                        </div>
                        <div class="image-block">
                            <img src="http://lorempixel.com/640/400/abstract/7/" alt="image-block" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="campaign-stats">
                        <h2>£101,498<span>Total raised</span><span>of <strong>£125,000</strong> goal</span></h2>
                        <div class="days-left">
                            <p><span>15</span> Days to go</p>
                        </div>
                        <a href="#" class="button">Back this campaign</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>