<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
       <title>Checkout</title>
    </head>
    <body>
        <header>
           <div class="header-container">
               <div class="logo"><a href="#"><img src="../../public/images/logo-qol.png" alt="logo"></a></div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <button class="camp-button">Start Campaign</button>
           </div>
        </header>
        <section class="row">
            <div class="row-content">
                <div class="col-sm-3">
                    <div class="campaign-teaser">
                        <div class="campaign-teaser-image">
                            <img src="../../public/images/rhino.jpg" alt="campaign-teaser-image" />
                        </div>
                        <div class="campaign-teaser-details">
                            <div class="title">
                                <h1>Save white Rhinos</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="campainer">
                                <img src="http://lorempixel.com/50/50/abstract/2/" alt="" /><span>Mr. Chow Mein</span>
                            </div>
                            <div class="date">Started on: 2015.02.01</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <form action="">
                        <div class="donation-amount">
                            <div class="form-group">
                               <div class="row">
                                   <div class="col-xs-2"><input type="radio" name="donation-mentod"><span>Donate the ticket value</span></div>
                                   <div class="col-xs-10"><div class="ticket-value"><span class="currency">£</span>20</div></div>
                               </div>
                               <div class="row">
                                    <input type="radio" name="donation-mentod"><span>Donate more</span>
                                    <span class="currency">£</span><input type="text" name="donation-amount" />
                               </div>
                            </div>
                        </div>
                        <div class="quick-checkout grey-pod">
                            <h2>Quick checkout</h2>
                            <p>Save time by using Facebook or Google log-in to pre-fill some of your details. Don't worry - we will never post to your timeline.</p>
                            <a href="" class="social-button facebook"><i class="icon icon-facebook"></i></a>
                            <a href="" class="social-button google"><i class="icon icon-google"></i></a>
                        </div>
                        <div class="checkout-with-email">
                            <h2>Checkout with email <span>Have an account? <a href="#">Login</a></span></h2>
                                <div class="form-group">
                                    <input class="" type="email" placeholder="Email" name="email">
                                </div>
                                 <div class="form-group">
                                    <input class="" type="password" placeholder="Password" name="password">
                                </div>
                        </div>
                        <div class="donor-details">
                            <h2>Your details</h2>
                            <p>We need a couple details in case something changes. We'll send the tickets to your phone and email.</p>
                                <div class="form-group">
                                    <input class="" type="text" placeholder="First name" name="firstname">
                                </div>
                                 <div class="form-group">
                                    <input class="" type="text" placeholder="Last name" name="lastname">
                                </div>
                                <div class="form-group">
                                    <input class="" type="email" placeholder="Email" name="email">
                                </div>
                                <div class="form-group">
                                    <select name="country" id="country">
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="India">India</option>
                                        <option value="United States">United States</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="" type="text" placeholder="Postal code" name="postalcode">
                                </div>
                        </div>
                    </form>
                    <div class="pay-with-paypal grey-pod">
                        <h3>PAYPAL <i icon icon-paypal></i></h3>
                        <p>After clicking this button, you’ll be redirected to PayPal’s site where you can pay with your credit card or PayPal account.</p>
                        <a href="#" class="paypal-button"><img src="https://checkout.paypal.com/pwpp/1.3.3/images/pay-with-paypal.png" alt="paypal"></a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>