<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
       <title>E-mail Sign Up</title>
    </head>
    <body>
        <header>
           <div class="pop-up-header">
               <h4>Sign Up With E-Mail</h4>
                <p>Welcome to pTitan!</p>       
           </div>
        </header>
        <section class="row">
            <div class="row-content">
                <div class="col-sm-12">
                    <form action="">
                        <div class="email-sign-up">
                            <div class="form-group">
                                <div class="row">
                                    <input type="email" class="email" placeholder="Email" name="email" />
                                    <input type="password" class="password" placeholder="Password" name="password" />                                   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div class="pop-up-footer">
                <a href="#" class="sign-up-button">Sign Up</a> 
            </div>
        </footer>
    </body>
</html>