<div>
    <section class="row title-area row-one">
        <div class="row-content">
            <div class="col-sm-12">
                <h1>Select your campaign type</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla. Quisque eros quam, vestibulum nec nisi vitae, facilisis elementum leo. Vestibulum vel volutpat ipsum.</p>
            </div>
        </div>
    </section>    
    <section class="row">
        <div class="row-content">
            <div class="col-xs-4">
                <a ui-sref="form.stepOne">
                    <div class="campaign-type-pod white-pod">
                        <img src="http://lorempixel.com/640/400/abstract/10/" alt="" />
                        <h2>For a cause</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla.</p>
                    </div>
                </a>
             </div>
            <div class="col-xs-4">
                <a ui-sref="form.stepOne">
                    <div class="campaign-type-pod white-pod">
                        <img src="http://lorempixel.com/640/400/abstract/8/" alt="" />
                        <h2>For an event</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla.</p>
                    </div>
                </a>
             </div>
            <div class="col-xs-4">
                <a ui-sref="form.stepOne">
                    <div class="campaign-type-pod white-pod">
                        <img src="http://lorempixel.com/640/400/abstract/6/" alt="" />
                        <h2>For a project</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla.</p>
                    </div>
                </a>
             </div>
        </div>
    </section>

</div>
        