<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
        <title>Campaign Page</title>
    </head>
    <body>
        <header>
           <div class="header-container">
               <div class="logo"><a href="#"><img src="../../public/images/logo-qol.png" alt="logo"></a></div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <button class="camp-button">Start Campaign</button>
           </div>
        </header>
        <section class="row title-area row-one">
            <div class="row-content">
                <div class="col-sm-12">
                    <h1>Select your campaign type</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla. Quisque eros quam, vestibulum nec nisi vitae, facilisis elementum leo. Vestibulum vel volutpat ipsum.</p>
                </div>
            </div>
        </section>    
        <section class="row">
            <div class="row-content">
                <div class="col-xs-4">
                    <div class="campaign-type-pod white-pod">
                        <img src="http://lorempixel.com/640/400/abstract/10/" alt="" />
                        <h2>For a cause</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla.</p>
                    </div>
                 </div>
                <div class="col-xs-4">
                    <div class="campaign-type-pod white-pod">
                        <img src="http://lorempixel.com/640/400/abstract/8/" alt="" />
                        <h2>For an event</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla.</p>
                    </div>
                 </div>
                <div class="col-xs-4">
                    <div class="campaign-type-pod white-pod">
                        <img src="http://lorempixel.com/640/400/abstract/6/" alt="" />
                        <h2>For a project</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla.</p>
                    </div>
                 </div>
            </div>
        </section>
    </body>
</html>