
        <section class="row title-area row-one">
            <div class="row-content">
                <div class="col-sm-12">
                    <h1>Start your campaign</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie magna sit amet velit varius fringilla. Quisque eros quam, vestibulum nec nisi vitae, facilisis elementum leo. Vestibulum vel volutpat ipsum.</p>
                </div>
            </div>
        </section>    
        <section class="row">
            <div class="row-content">
                <div class="col-sm-8">
                    <form action="">
                        <div class="form-group">
                            <label for="goal_amount">How much money would you like to raise?</label>
                            <input type="text" name="goal_amount" id="goal_amount" ng-model="startCampaignData.goalAmount">
                            <select name="goal_amount" id="goal_amount">
                                <option value="GBP">GBP</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">What's the tile of your campaign?</label>
                            <input type="text" name="campaign_title" id="campaign_title" ng-model="startCampaignData.campaignTitle">
                        </div>
                        <div class="form-group">
                         <label for="goal_amount">Choose a category</label>
                           <select name="campaign_category" id="campaign_category">
                                <option value="">Choose a category</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button ui-sref="form.stepTwo">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
            <p>Goal amount:{{ startCampaignData.goalAmount }}</p>
            <p>Campaign Title:{{ startCampaignData.campaignTitle }}</p>
        </section>