<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
       <title>Sign Up</title>
    </head>
    <body>
        <header>
           <div class="pop-up-header">
               <h4>Sign Up With pTitan</h4>
                <p>Your Privacy Is Our Priority</p>       
           </div>
        </header>
        <section class="row">
            <div class="row-content">
                <div class="col-sm-12">
                    <div class="sign-up-content">
                       <ul>
                           <li><a href="#" class="fb-button">Sign Up</a> </li>
                           <li><a href="#" class="gplus-button">Sign Up</a> </li>
                           <li><a href="#" class="email-button">Sign Up</a></li>
                       </ul>  
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="pop-up-footer">
                <p>Already Signed Up With pTitan? <a><span>Log In With Email</span></a></p>
            </div>
        </footer>
    </body>
</html>