<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../../dist/css/style.css">
       <title>Sign Up</title>
    </head>
    <body>
        <header>
           <div class="header-container">
               <div class="logo"><a href="#"><img src="../../public/images/logo-qol.png" alt="logo"></a></div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <button class="camp-button">Start Campaign</button>
           </div>
        </header>
        <section class="row row-one">
            <div class="row-content">
                <div class="col-sm-12">
                    <div class="modal">
                        <h4>SIgn Up With pTitan</h4>
                        <p>Your Privacy Us Our Responsibility</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>